:root {
  --primario: #9c27b0;
  --primarioOscuro: #89119d;
  --secundario: #ffce00;
  --secundarioOscuro: rgb(233, 287, 2);
  --blanco: #fff;
  --negro: #000;

  --font1: "Staatliches", cursive;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font1);
  /* background-color: var(--primario); */
  font-size: 1.6rem; /* 1rem = 10px */
  line-height: 1.5;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blanco);
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: var(--font1);
  text-align: center;
  color: beige;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}

img {
  width: 100%;
}
div.w-33 {
  width: 33.33%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}

div.center {
  text-align: center;
}
.b{
  width: 40%;

}
.encender{
background-color: green;
border-radius: 1rem;
}
.apagar{
  background-color: red;
  border-radius: 1rem;
  }

@media (min-width:768px) {
  img{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }
  
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
.heder {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
.heder__logo {
  margin: 3rem 0; /*MARGEN*/
}
/* NAVEGACION*/
.navegacion {
  background-color: var(--primarioOscuro);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navegacion__enlace {
  font-family: var(--font1);
  color: var(--blanco);
  font-size: 3rem;
  margin-right: 2rem; /*Separacion de enlaces en nav*/
}

.navegacion__enlace:last-of-type {
  margin-right: 0rem;
}

.navegacion__enlace--active,
.navegacion__enlace:hover {
  color: var(--blanco);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*PRODUTOS*/
.contenedor h1 {
  text-transform: uppercase;
}
.producto {
  background-color: var(--primarioOscuro);
  padding: 1rem;
}
.producto__imagen {
  width: 100%;
}
.producto__imagen__2 {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  
}
.producto__nombre {
  font-size: 4rem;
  text-align: center;
  font-family: var(--font1);
  margin: 1rem 0;
  color: var(--blanco);
  line-height: 1.2;
}



/*footer*/
.footer {
  background-color: var(--primarioOscuro);
  padding: 2rem 0;
  margin-top: 2rem;
}
.footer__texto {
  text-align: center;
  font-family: var(--font1);
  font-size: 2.2rem;
}
.bloques {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .bloques {
    grid-template-columns: repeat(2, 1fr);
  }
}
.bloque__imagen {
  width: 100%;
}
.bloque {
  text-align: center;
}
.bloque__titulo {
  margin: 0;
}
/*producto*/
@media (min-width:768px) {
  .camisa {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
  }
 


}


