<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinder</title>
    <!--ESTILOS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= '../static/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= '../static/css/normalize.css') }}">


</head>

<body>

    <!--Cabecera start-->
    <header class="heder">
        <a>
            <img class="heder__logo" src="../static/img/logo1.jpeg" alt="logo">
        </a>
    </header>
    <!--cabecera end-->

    <!--Navegacion start-->
    <nav class="navegacion">
        <h1 class="producto__nombre">Mesas multisensoriales</h1>
    </nav>
    <!--Navegacion end-->

    <!--main start-->
    <main class="contenedor">
        <br>
        <div class="grid">
            <div class="producto">
                <a>
                    <img class="producto__imagen" src="../static/img/mesas1.jpeg" alt="imagen camisa">
                    <div class="producto__informacion">
                        <p class="producto__nombre">MESA 1</p>
                        <div class="w-33">
                            <div class="center">
                                <form method="POST">

                                    <input class="b encender" type="submit" value="ON" name="mesa1">
                                    <input class="b apagar" type="submit" value="OFF" name="mesa1">
                            </div>
                        </div>
                        <center>
                            <p>
                                Elegir color: <input type="color" name="color" value="#ffffff"
                                    list="listacoloresperfil">
                            </p>

                            <datalist id="listacoloresperfil">
                                <option value="#ff0000">
                                <option value="#008f39">
                                <option value="#0000ff">
                                <option value="#ffaa00">


                            </datalist>
                        </center>

                        </form>

                    </div>
                </a>
            </div>
            <!--.producto-->

            <div class="producto">
                <a>
                    <img class="producto__imagen" src="../static/img/mesas1.jpeg" alt="imagen camisa">
                    <div class="producto__informacion">
                        <p class="producto__nombre">MESA 2</p>
                        <div class="w-33">
                            <div class="center">
                                <form method="POST">
                                    <input class="b encender" type="submit" value="ON" name="mesa2">
                                    <input class="b apagar" type="submit" value="OFF" name="mesa2">
                            </div>
                        </div>
                        <center>
                            <p>
                                Elegir color: <input type="color" name="color" value="#ffffff"
                                    list="listacoloresperfil">
                            </p>

                            <datalist id="listacoloresperfil">
                                <option value="#ff0000">
                                <option value="#008f39">
                                <option value="#0000ff">
                                <option value="#ffaa00">
                                <option value="#ff00ff">
                                
                                    

                            </datalist>
                        </center>

                        </form>

                    </div>
                </a>
            </div>
            <!--.producto-->


            <div class="producto">
                <a>
                    <img class="producto__imagen" src="../static/img/mesas1.jpeg" alt="imagen camisa">
                    <div class="producto__informacion">
                        <p class="producto__nombre">MESA 3</p>
                        <div class="w-33">
                            <div class="center">
                                <form method="POST">
                                    <input class="b encender" type="submit" value="ON" name="mesa3">
                                    <input class="b apagar" type="submit" value="OFF" name="mesa3">
                            </div>
                        </div>
                        <center>
                            <p>
                                Elegir color: <input type="color" name="color" value="#ffffff"
                                    list="listacoloresperfil">
                            </p>


                        </center>

                        </form>

                    </div>
                </a>
            </div>
            <!--.producto-->

            <div class="producto">
                <a>
                    <img class="producto__imagen" src="../static/img/mesas1.jpeg" alt="imagen camisa">
                    <div class="producto__informacion">
                        <p class="producto__nombre">MESA 4</p>
                        <div class="w-33">
                            <div class="center">
                                <form method="POST">
                                    <input class="b encender" type="submit" value="ON" name="mesa4">
                                    <input class="b apagar" type="submit" value="OFF" name="mesa4">
                            </div>
                        </div>
                        <center>
                            <p>
                                Elegir color: <input type="color" name="color" value="#ffffff"
                                    list="listacoloresperfil">
                            </p>


                        </center>

                        </form>

                    </div>
                </a>
            </div>
            <div class="producto">
                <a>
                    <img class="producto__imagen" src="../static/img/mesas1.jpeg" alt="imagen camisa">
                    <div class="producto__informacion">
                        <p class="producto__nombre">TUBO</p>
                        <div class="w-33">
                            <div class="center">
                                <form method="POST">
                                    <input class="b encender" type="submit" value="ON" name="mesa4">
                                    <input class="b apagar" type="submit" value="OFF" name="mesa4">
                            </div>
                        </div>
                        <center>
                            <p>
                                Elegir color: <input type="color" name="color" value="#ffffff"
                                    list="listacoloresperfil">
                            </p>


                        </center>

                        </form>

                    </div>
                </a>
            </div>
            <div class="producto">
                <a>
                    <img class="producto__imagen" src="../static/img/mesas1.jpeg" alt="imagen camisa">
                    <div class="producto__informacion">
                        <p class="producto__nombre">PROXIMAMENTE</p>
                        <div class="w-33">
                            <div class="center">
                                <form method="POST">
                                    <input class="b encender" type="submit" value="ON" name="mesa4">
                                    <input class="b apagar" type="submit" value="OFF" name="mesa4">
                            </div>
                        </div>
                        <center>
                            <p>
                                Elegir color: <input type="color" name="color" value="#ffffff"
                                    list="listacoloresperfil">
                            </p>


                        </center>

                        </form>

                    </div>
                </a>
            </div>
            <!--.producto-->


            <!--.producto-->

        </div>
    </main>
    <!--main end-->
    <br><br><br>
    <!--footer start-->
    <footer class="footer">
        <p class="footer__texto">Kinder - Todos los derechos reservados 2022.</p>
    </footer>
    <!--footer end-->
</body>

</html>